@use '../assets/scss/vars' as v;

header {
    background-color: v.$blue;
    height: 9.83em;
    margin-bottom: 5em;

    p {
        font-size: 10em;
        text-align: right;
        margin-right: 3rem;
        background: linear-gradient(to bottom, white 55%, v.$blue 45%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

//Media queries
@media (max-width: 650px) {
    header {
        height: 6.3em;
    }
    header p {
        font-size: 6em;
        margin-right: 0;
    }
}

@media (max-width: 285px) {
    header {
        height: 4.4em;
        margin-bottom: 2em;
    }
    header p {
        font-size: 4em;
        background: linear-gradient(to bottom, white 53%, v.$blue 47%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
